@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
//Typography Style
h1, h2, h3 {
  font-family: 'Open Sans', 'sans-serif';
}

.navbar, .home-callout {
  //Gradient provided by uiGradients.com and @_ighosh
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//Nav Styles
.navbar {
  margin-bottom: 20px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar-light .navbar-toggler {
  border: 2px solid white;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: white;
  }
}

button:focus {
  outline: none;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
  color: white;

  &:hover {
    color: white;
    opacity: 0.7;
  }
  
}

.navbar-brand {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

//Home page styles
.home-callout {
  color: white;
  margin-top: -20px;
  padding-bottom: 100px;
  padding-top: 50px;
}